body {
    background: white;
    font-family: monospace;
  }
  
  #mainhead {
    position: absolute;
    padding-top: 10px;
    color: #FF731D;
    font-weight: bold;
    font-size: 40px;
    left: 51%;
  }
  
  #window {
    background: #FFF7E9;
    border-style: solid;
    border-width: 2px;
    border-color: #FF731D;
    border-radius: 10px;
    height: 55%;
    width: 31%;
    position: absolute;
    left: 50%;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    top: 150px;
  }
  
  #consolecoders {
    position: absolute;
    left: 8%;
    font-size: 30px;
    font-weight: bold;
    top: 30%;
  }
  #coders {
    background: none;
    color: #FF731D;
  }
  
  #username {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    left: 50px;
    top: 5px;
  }
  
  #userbox {
    position: absolute;
    font-size: 15px;
    left: 30px;
    top: 40px;
  }
  
  #user {
    font-size: 15px;
    padding-left: 20px;
    background: white;
    border-radius: 10px;
    width: 310px;
    height: 40px;
  }
  
  #password {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    left: 50px;
    top: 85px;
  }
  
  #passbox {
    position: absolute;
    font-size: 15px;
    left: 30px;
    top: 120px;
  }
  
  #pass {
    font-size: 15px;
    padding-left: 20px;
    background: white ;
    border-radius: 10px;
    width: 310px;
    height: 40px;
  }
  
  #or {
    font-size: 15px;
    position: absolute;
    top: 220px;
    left: 30px;
  }
  
  #gg {
    position: absolute;
    background: white;
    left: 55px;
    top: 270px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #gg:hover {
      transition-duration: 0.1s;
      transform: scale(1.2);
  }
  
  #gh {
    position: absolute;
    background: white;
    left: 180px;
    top: 270px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #gh:hover {
      transition-duration: 0.1s;
      transform: scale(1.2);
  }
  
  #fb {
    position: absolute;
    background: white;
    left: 305px;
    top: 270px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #fb:hover {
      transition-duration: 0.1s;
      transform: scale(1.2);
  }
  
  button {
    font-size: 18px;
    color: white;
    background-color: #FF731D; 
    border-radius: 10px;
    width: 200px;
    height: 35px;
    position: absolute;
    left: 100px;
    top: 185px;
  }
  
  button:hover {
      transition-duration: 0.1s;
      transform: scale(1.1);
  }