@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #FFF7E9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 0;
    background-color: black;
}

.console-coder {
    color: #FF731D;
}

.header {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    margin: 1.5rem;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.name {
    font-family: 'Trispace', sans-serif;
    color: #FFF7E9;
}

.home {
    color: #FF731D;
}

.name a {
    color: #FFF7E9;
    text-decoration: none;
}

nav {
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Noto Serif TC', serif;
    padding: 0 10px;
    margin-top: 4px;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    color: #FFF7E9;
    font-size: large;
    padding: 0 2.5rem;
    justify-content: space-around;
}

li a {
    color: #FFF7E9;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    justify-content: space-around;
    display: flex;
    font-family: 'Poppins', sans-serif;

}

.container .card {
    position: relative;
    width: 300px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF731D;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'KIIT';
    position: absolute;
    top: 30%;
    left: -10%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05)
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.container .card .contentBx .size {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
    padding: 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}


.container .card .contentBx .size span {
    width: 157px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background: #fff;
    margin: 0 5px;
    transition: 0.8s;
    color: #111;
    border-radius: 4px;
    flex-direction: column;
    cursor: default;
}

.contentBx .profile {
    color: white;
    width: 20rem;

}


#space-generator {
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
}

.icons {
    cursor: pointer;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 12px;
    height: 1.6rem;
}

.button-54:hover {
    background-color: rgb(237, 161, 133);
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}



/* ----------- footer -------------  */

footer {
    grid-column-start: 1;
    grid-column-end: 5;
}

.footer {
    background: rgb(28, 26, 26);
    padding: 0.8rem 0;
    font-family: 'Play', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.footer .row {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.name h2 {
    padding: 1.1rem;
}

/* ------------- button ----------------  */

.load-more {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-50 {
    appearance: button;
    background-color: rgb(235, 126, 36);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    justify-content: center;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.int-button {
    text-decoration: none;
    color: #fff;
}

.message-control {
    text-decoration: none;
    color: black;
}